* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  height: 100%;
  width: 100%;
  background-image: url(./background.jpg);
  background-size: cover;
}
.gray {
  width: 20px;
  height: 200px;
  border-radius: 40% 40% 0px 0px;
 
}
#piece-holder1 {
  background-image: url(./tower.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -45px;
}
#piece-holder2 {
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -60px;
  background-image: url(./tower.jpg);
  background-position-x: -55px;
  background-size: cover;
}
#piece-holder3 {
  background-image: url(./tower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -40px;

}
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 220px;
  height: 100px;
  width: 100%;
}
#disc1 {
  background-image: url(./disc1.jpg);
  background-position: center;
  width: 50px;
  height: 25px;
}
.piece2 {
  background-image: url(./disc2.jpg);
  width: 75px;
  height: 30px;
}
.piece3 {
  background-image: url(./disc3.jpg);
  background-position: center;
  width: 100px;
  height: 40px;
}
.piece1,
.piece2,
.piece3 {
  border-radius: 50px;
}
.piece-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
h1 {
  font-family: 'Germania One', cursive;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 6.5px;
}

