* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.green {
  width: 10px;
  height: 180px;
  background-color: green;
}
.yellow {
  width: 10px;
  height: 180px;
  background-color: yellow;
}
.blue {
  width: 10px;
  height: 180px;
  background-color: blue;
}
.red {
  width: 10px;
  height: 180px;
  background-color: red;
}
.gray {
  width: 10px;
  height: 180px;
  background-color: gray;
}
.data-row {
  float: left;
  margin-right: 10px;
  border: 1px solid black;
}
.wrapper {
  display: flex;
  justify-content: center;
}
