* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 650px;
  padding: 3%;
  position: relative;
  box-shadow: 3px 3px 3px 3px darkgrey;
}
h3 {
  font-size: 16px;
  color: #919191;
  text-transform: uppercase;
  letter-spacing: 1.5;
  position: relative;
  bottom: 20px;
}
h1 {
  margin-bottom: 20px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}