body {
    background-color: rgb(76, 139, 190);
    margin-left: 15%;
    margin-right: 15%;
}

header {
    background-color: beige;
    text-align: center;
    height: 20%;
    border: 2px solid black;
    border-radius: 1em;
}

h1 {
    font-family: cursive;
}

h2 {
    font-family: cursive;
}

.main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% auto 33%;
    grid-template-areas:
    'box1 box2'
    'box3 box4'
    'box5 box6';
    height: 100%;
    background-color: beige;
    }

.box1 {grid-area: box1;
border: 2px solid black;}
.box2 {grid-area: box2;
border: 2px solid black}
.box3 {grid-area: box3;
border: 2px solid black}
.box4 {grid-area: box4;
border: 2px solid black}
.box5 {grid-area: box5;
border: 2px solid black}
.box6 {grid-area: box6;
border: 2px solid black}

.main-container > div:nth-of-type(1) {
    background-color: rgb(167, 216, 147);
}

.main-container > div:nth-of-type(2) {
    background-color: rgb(161, 13, 100);
}

.main-container > div:nth-of-type(3) {
    background-color: red;
}

.main-container > div:nth-of-type(4) {
    background-color: rgb(30, 161, 201);
}

.main-container > div:nth-of-type(5) {
    background-color: rgb(224, 247, 25);
}

.main-container > div:nth-of-type(6) {
    background-color: rgb(13, 10, 190);
}